---
layout: patterns/shell
---

{% capture this_app %}{% if layout.application %}{{ layout.application | default: 'untitled-app' | slugify }}{% else %}{{ page.application | default: 'untitled-app' | slugify }}{% endif %}{% endcapture %}

<div 
    id="pat-modal-panel-space">
    <dialog
        class="{{ page.panel_size | default: 'medium' }} application-{{ this_app }} {{ layout.panel_size | default: 'medium' }} {{ page.panel_class }} {{ layout.panel_class }} pat-modal-panel"
        id="pat-modal-panel"
        open>
        <div
            class="modal-panel-contents">
            {% if page.title or layout.title %}
                <div
                    class="modal-panel-header">
                    <h1
                        class="modal-panel-title">
                        {%- if page.title -%}
                            {% include patterns/label 
                                label=page.title %}
                        {%- elsif layout.title  -%}
                            {% include patterns/label 
                                label=layout.title %}
                        {%- endif -%}
                    </h1>
                    {% if layout.close_button or page.close_button %}
                        <button
                            tabindex="0"
                            class="
                                modal-panel-close-button
                                close-panel">{% include patterns/i18n id="patterns.label_close_imp" %}</button>
                    {% endif %}
                </div>
            {% endif %}
            {% if page.action %}
                <form
                    {% if layout.validate or page.validate %}
                        validate
                    {% endif %}
                    action="{{ page.action }}"
                    data-pat-inject="{{ page.inject }}"
                    class="pat-inject pat-form modal-panel-body">
                    {{ content }}
                    {% include patterns/modal-buttons.html %}
                </form>
            {% else %}
                <div 
                    id="modal-panel-body"
                    class="modal-panel-body">
                    {{ content }}
                    {% include patterns/modal-buttons.html %}
                </div>
            {% endif %}                
        </div>
    </dialog>
</div>